.shoppingbasket {
    width:40px;
    height:40px;
    background-color:#000;
    position:absolute;
    top:20px;
    right:13%;
  }
  .basketitems {
    color:#fff;
    font-size:80%;
    background-color:#e74c3c;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-90%);
    -moz-transform:translate(-50%,-90%);
    transform:translate(-50%,-90%);
    padding:0 12%;
    border-radius:1000px;
  }
  .shoppingbasket .top {
    width:60%;
    height:10%;
    border-radius:1000px;
    background-color:#fff;
    position:absolute;
    top:25%;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .shoppingbasket .bottom {
    width:50%;
    height:10%;
    border-radius:1000px;
    background-color:#fff;
    position:absolute;
    bottom:25%;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .shoppingbasket .left {
    width:50%;
    height:10%;
    border-radius:1000px;
    background-color:#fff;
    position:absolute;
    top:45%;
    left:1%;
    -webkit-transform: rotate(80deg);
    -moz-transform: translateX(80deg);
    transform: translateX(80deg);
  }
  .shoppingbasket .right {
    width:50%;
    height:10%;
    border-radius:1000px;
    background-color:#fff;
    position:absolute;
    top:45%;
    right:1%;
    -webkit-transform: rotate(-80deg);
    -moz-transform: translateX(-80deg);
    transform: translateX(-80deg);
  }