<footer class="bg-black text-center">


  <!-- Grid container -->
  <div class="container p-4 pb-0">

    <div class="row mt-4 align-items-center justify-content-around">
      <div class="col-lg-4 text-start">
        <div style="line-height: 40px;">
          <div><a style="text-decoration: none; color: white;" routerLink="/">Home</a></div>
          <div><a style="text-decoration: none; color: white;" routerLink="/gents">Gents</a></div>
          <div><a style="text-decoration: none; color: white;" routerLink="/ladies">Ladies</a></div>
          <div><a style="text-decoration: none; color: white;" routerLink="/boys-girls">Boys&Girls</a></div>
          <div><a style="text-decoration: none; color: white;" routerLink="/about">About us</a></div>
          <div><a style="text-decoration: none; color: white;" routerLink="/contacts">Contact Us</a></div>
        </div>
      </div>
      <div class="col-lg-4 text-start">
        <img src="../../assets/images/logowhite-01.png" width="100px" alt="">
        <div style="line-height: 40px;">

          <div class="text-white">
            VOLANT SHOES PVT.LTD <br>
            10/391 , Kakkanchery , Chelembra (P.O),Malappuaram , 673634 <br>
            volantfootwears@gmail.com <br>
            www.volantfootwear.com <br>
            PH : +918589883308

          </div>
        </div>
      </div>
      <div class="col-lg-4 text-start">
        <div style="line-height: 40px;">
          <h3 class="text-white"> Volant Footwears</h3>
          <h5 class="text-white">Shopping & Categories</h5>
          <div><a style="text-decoration: none; color: white;" href="">Gents shopping</a></div>
          <div><a style="text-decoration: none; color: white;" href="">Ladies shopping</a></div>
          <div><a style="text-decoration: none; color: white;" href="">Boys&Girls shopping</a></div>

        </div>
      </div>
    </div>
    <!-- Section: Social media -->
    <section class="mt-5 mb-4">
      <!-- Facebook -->
      <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!"
        role="button"><i class="fa-brands fa-facebook-f text-white"></i></a>

      <!-- Twitter -->
      <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="#!"
        role="button"><i class="fab fa-twitter text-white"></i></a>

      <!-- Google -->
      <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="#!"
        role="button"><i class="fa-brands fa-pinterest-p text-white"></i></a>

      <!-- Instagram -->
      <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!"
        role="button"><i class="fab fa-instagram text-white"></i></a>

      <!-- Linkedin -->
      <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="#!"
        role="button"><i class="fab fa-linkedin-in"></i></a>
      <!-- Github -->
      <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #333333;" href="#!"
        role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 text-white">
    Copyright © 2024 Volant. All Rights Reserved <br>
    <a class="" style="color: #dd4b39;" href="">Privacy & Policy ,Terms & Conditions</a>
  </div>
  <!-- Copyright -->
</footer>